@import url('https://fonts.googleapis.com/css?family=Abel|Anton');
/* Main style sheet for index.html */
html, body {
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 0;
}


p {
    font-family: 'Abel', sans-serif;
    margin:0px;

}

#header p {
    padding-left: 10px;
    font-size: 32px;
    text-transform: lowercase;
}


#header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: 'Abel', sans-serif;
    font-size: 2.3vw;
    padding: 0 5px 0 5px;

}
h1, h2, h3, h4, h5{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;

}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.teal {
    background-color: #00ABA9;
}

.white {
    color: #F0F0F0;
}

.bg-white {
    background-color: #f0f0f0;
}


.grey {
    color: #E6E6E6;
}

.logo {
    height: 105px;
    width: 105px;
}

.icon {
    width: 18px;
    height: 18px;
}

.circle-lg {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: white 8px solid;
    font-size: 24px;
    color: white;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 48px;

}

.circle-sm {
    height: 18px;
    width: 18px;
    border-radius: 9px;
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 9px;
    text-align: center;
    padding-top: 3px;
    float: right;

}


.header-container {
    position: absolute;
    height: 93px;
    background-color: #FFF;
    border-top: 33px solid #E6E6E6;
    width: 100%;
    z-index: 1;
}


#header {
    z-index: 1;
    position: relative;
}

.feature-img {
    border: #E6E6E6 8px solid;
}
.last-img {
    border: #E6E6E6 3px solid;
}


.last-image img {
    width: 50px;
    height: 50px;

}

.

.feature-img {
    border: 20px solid  #e6e6e6;
}

.feature-project {
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;

}

.last-title {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

.tweet img {
    width: 30px;
    height: 30px;
}

.tweet  span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

/* Only for small */
@media (max-width: 576px) {

    .wrap-it {
        break-after: right;
        width: 100%;
        text-align: center;
    }

    .align-center-xs {
        text-align: center;
        width: 100%;
    }
    .feature-project {
        font-size: 20px;
    }

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    .ml-auto-sm {
        margin-left: auto;
    }
    .align-center-sm {
        text-align: center;
        width: 100%;
    }
    .feature-project {
        font-size: 13px;
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .ml-auto-md {
        margin-left: auto;
    }

    .container {
        max-width: 990px;
    }

    .align-center-md {
        text-align: center;
    }

    .align-left-md {
        text-align: left;
    }
    #header a {
        font-size: 14px;
    }
    .feature-project {
        font-size: 13px;
    }



}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .ml-auto-lg {
        margin-left: auto;

    }

    .align-left-lg {
        text-align: left;
    }

    .container {
        max-width: 1000px;
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .ml-auto-xl {
        margin-left: auto;

    }

    .container {
        max-width: 1000px;
    }

}

